@import "mystyle";
.navText {
    font-family: $textAlt;
}

.navbar-nav .nav-link> {
    position: relative;
    font-size: 24px;
    top: 3px;
    line-height: 12px;
    font-family: $textAlt;
}

.btnNav {
    background-color: $colorBlack;
    border: solid;
    border-color: $colorTextoFooter;
    color: $colorWhite2;
    margin-left: 10px;
}

.btnNav:hover {
    text-decoration: none;
    background-color: $colorWhite2;
}

.aNav {
    margin-top: 10px;
    color: $colorPaleta1;
    font-size: 20px;
}

.aSubNav {
    margin-top: 4px;
    width: 100%;
    color:#e4f9f5;    ;
    font-size: 18px;
    //background-color: red;
}

.subNav {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background: $colorPaleta5;
}

.aSubNav:hover {
    color: $color2;
}


.aNav:hover {
    color: $color2;
}



@media (min-width: 1200px) {
    .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-nav .nav-link> {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }
    .navbar-nav .nav-link> {
        top: -7px;
    } 
}

//intento desplegable de la busqueda en la bbdd

.desplegableBusqueda{
    color: white;
}


//Cosas para el mensaje cookies
.cookiealert {
    z-index: 999999999999 !important;
}
.cookies_popup_body h3 {
    text-align: center;
}
.cookies_popup_body p {
    text-align: center;
}

.cookiealert .modal-body {
    padding: 45px 100px;
}

.colortextocookie {
    color: rgb(0, 0, 0);
}

.cookie-alertNovedades {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 320px;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    background-color: white;
}

.cookie-alertNovedades.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}



