/* Define standard variables and values for website */
$bgcolor: white;
$textcolor: black;
$fontsize: 18px;
$colorTexto: white;
$tipoletra:"Arvo";

/* Use the variables */
body {
  //background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  font-family:$tipoletra;
}
p {
  color: $colorTexto;
}

footer{
  background-color: black;
}

img{
  width: 600px;
  height: 600px;
}