/* Define standard variables and values for website */
/*Login */
/* Use the variables */
body {
  background-color: white;
  font-size: 18px;
  font-family: "Merriweather", serif;
}

body.card.card-body {
  margin-top: 20pt;
}

body.card.card-body img {
  height: 30px;
  width: 30px;
}

.footer img {
  width: 20px;
  height: 20px;
}

p {
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  height: 100px;
  color: #11999e;
}

.bg-dark {
  background-color: #212121 !important;
}

/* Login */
.bodyLogin {
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/e6/f4/a4/e6f4a4b1edbea5748b8b198e381e21bc.jpg");
  font-family: "Arvo", serif;
}

.aLogin {
  color: #11999e;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

.aLogin:hover {
  text-decoration: none;
  color: #30e3ca;
}

.wrapperLogin {
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #fff;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #212121;
  border: none;
  color: #30e3ca;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
          box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

input[type=text],
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #212121;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
}

/* nav */
.navText {
  font-family: "Arvo", serif;
}

.navbar-nav .nav-link > {
  position: relative;
  font-size: 24px;
  top: 3px;
  line-height: 12px;
  font-family: "Arvo", serif;
}

.btnNav {
  background-color: #11999e;
  color: #f6f6f6;
  margin-left: 10px;
}

.btnNav:hover {
  text-decoration: none;
  background-color: #30e3ca;
}

.aNav {
  margin-top: 10px;
  color: #11999e;
  font-size: 20px;
}

.aNav:hover {
  color: #30e3ca;
}

@media (min-width: 1200px) {
  .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-nav .nav-link > {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
  .navbar-nav .nav-link > {
    top: -7px;
  }
}
/*# sourceMappingURL=mystyle.css.map */