/* Define standard variables and values for website */
$bgcolor: white;
$fontsize: 18px;
$colorTexto: black;

/* Use the variables */
body {
  background-color: $bgcolor;
  font-size: $fontsize;
  font-family: 'Merriweather', serif;

}

div.card{
  //margin-top: 20pt;
 // padding-top: 5pt;
  margin-top: 5pt;
}

#imgTop{
  opacity: 0.7;
}
