/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;
$colorTexto: white;
$bgfooter: #0000;
$text: "Merriweather Sans", sans-serif;
$textType: Semi-bold 600;
$height:100px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
p {
  color: $colorTexto;
}

.footer {
  font-family: $text;
  font-weight: $textType;
  height: $height;

}

.bg-dark {
  background-color: #212121 !important;
}

