$tamanoImgSeccion: 200px;
$colorTexto: black;

.seccion img {
  width: $tamanoImgSeccion;
  height: $tamanoImgSeccion;
  float: left;
}

.seccion h4{
  font-family: 'Arvo', serif;
}

.seccion a{
  text-decoration: none;
  color: $colorTexto;
}