@import "variables";
.cardApartadoDerecha{
    margin-top: 5pt;
  }
  .tarjetaNoticiaApartado{
    margin-top: 12pt;
  }
  
  .txtTop{
    //opacity: 0.7;
    border-radius:3px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* Width/Height */
    padding: .5em;
    width: 100%;
    /* Text color */
    color: $colorClaro;
     /* background */
     background:  
     linear-gradient(
       rgba(0, 0, 0,  0), 
       rgba(0, 0, 0, 1)
     );
     justify-content: center;
 
  }


  .txtCarrousel{
    width: 70%;
    left: 15%;
    height: 30pt;
  }
  

  


