/* Define standard variables and values for website */
$bgcolor: grey;
$textcolor: darkblue;
$fontsize: 18px;
$colorTexto: white;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
p {
  color: $colorTexto;
}

.img{
  width: 100px;
  height: 100px;
}