$letraParlon: 15px;

h1{
    text-align: center;
}

.container{
    align-items: center;
    margin: auto;
    width: auto;
}

.bodyContacto{
    font-size: $letraParlon;
    height: 1px;
    width: 100%;
}

.btnFormulario{
    margin-right: 10px;
    align-items: center;
    margin: auto;
}