//Tarjetas
//Carrousel
@import "variables";
.indexTT {
    font-family: 'Arvo', serif;
}

#textaco{
    text-align: left;
}


/* image thumbnail */

.otrasNoticias {
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.otrasNoticiasH1 {
    margin-bottom: 30px;
}

//Articulos
.ultimasNoticias {
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}

.ultimasNoticias .cardArticulo {
    margin-top: 30px;
    background-color: $colorClaro;
    font-family: "Merriweather Sans", sans-serif;
}

.indexNoticiaTitulo {
    font-size: 48px;
    font-weight: bold;
    color: black;
}

.indexNoticiaTimer {}

.indexNoticiaTexto {
    color: black;
}

.enlaceNoticia:hover {
    text-decoration: none;
}

// prueba
.noticiasDestacadas {
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
}

.card-contentIndex {
    background: $colorClaro;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-imgIndex {
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

.imagenTarjetaIndex {
    width: 100%;
    height: auto;
    display: block;
}

.card-descIndex {
    padding: 1.25rem;
}

.card-descIndex h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-descIndex p {
    color: #747373;
    font-size: 14px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.carrouselImg {
    height: 600px;
}

.subtitleCar {
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    bottom: 0;
}

//CONTROLES DEL REPRODUCTOR

#video-container {
	width: 1040px;
	height: 365px;
	position: relative;
}

#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-image: linear-gradient(bottom, rgb(13, 191, 204) 13%, rgb(44, 44, 44) 100%);
	background-image: -o-linear-gradient(bottom,  rgb(25, 67, 88) 13%, rgb(0,136,204) 100%);
	background-image: -moz-linear-gradient(bottom,  rgb(25, 67, 88) 13%, rgb(0,136,204) 100%);
	background-image: -webkit-linear-gradient(bottom,  rgb(25, 67, 88) 13%, rgb(0,136,204) 100%);
	background-image: -ms-linear-gradient(bottom,rgb(25, 67, 88) 13%, rgb(0,136,204) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, colorTextoFooter),
		color-stop(1, rgb(179, 187, 190))
	);
}

#video-container:hover #video-controls {
	opacity: .9;
}

button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
}

#seek-bar {
	width: 360px;
}

#volume-bar {
	width: 60px;
}

//BOTON PARA IR ARRIBA

.ir-arriba {
	display:none;
	padding:20px; // grosor del boton
	background:$colorTextoFooter;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:120px;
	right:10px;
} 
