.cardApartadoDerecha {
  margin-top: 5pt;
}

.tarjetaNoticiaApartado {
  margin-top: 12pt;
}

.txtTop {
  border-radius: 3px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 0;
  left: 0;
  right: 90;
  z-index: 1;
  /* Width/Height */
  padding: .5em;
  width: 100%;
  /* Text color */
  color: #e4f9f5;
  /* background */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: center;
}

.txtCarrousel {
  width: 70%;
  left: 15%;
  height: 30pt;
}
